<div class="form large">
	<div class="head small">
		<h3><i class="icon icon-envelope"></i> <%= if @to == current_user; @from.name; else; @to.name; end; %> </h3>
	</div>
	<div class="box">
		<%= @message.message %>
	</div>
</div>