<div class="form large">
	<div class="head small">
		<h3><i class="icon icon-briefcase"></i> <%= @employment.position %></h3>
	</div>
	<div class="box">
		<%= render 'employments/form' %>
	</div>
</div>